<ContainerQuery
  @features={{hash small=(width max=400)}}
  @dataAttributePrefix="cq"
  class={{this.styles.container}}
>
  <div class={{this.styles.splash}}>
    <div class={{this.styles.splash-image-container}}>
      {{#if @concert.images}}
        <Widgets::Widget-3::TourSchedule::ResponsiveImage
          @images={{@concert.images}}
        />

      {{else}}
        <div class={{this.styles.placeholder-image}}></div>

      {{/if}}
    </div>

    <div class={{this.styles.concert-date-container}}>
      <time class={{this.styles.concert-date}}>
        {{@concert.date}}
      </time>
    </div>

    <div class={{this.styles.venue-name-container}}>
      <a href="#" class={{this.styles.concert-link}}>
        <div class={{this.styles.venue-name}}>{{@concert.name}}</div>
      </a>
    </div>
  </div>
</ContainerQuery>