<ContainerQuery
  @features={{hash large=(width min=320) tall=(height min=80)}}
  as |CQ|
>
  <div
    class={{local-class
      this.styles
      "container"
      (unless CQ.features.tall "flat")
    }}
  >
    {{#if this.summary}}
      <div
        class={{local-class
          this.styles
          "summary"
          (if CQ.features.large "horizontal-layout")
        }}
        tabindex="0"
      >
        <h3
          class={{local-class
            this.styles
            "music-format"
            (unless CQ.features.large "small-font-size")
          }}
        >
          <span
            class={{this.styles.marker}}
            {{this.colorSvg this.summary.markerColor}}
          >
            {{svg-jar
              "stop"
              desc="A square whose color matches that of a bar in the bar chart"
              role="img"
            }}
          </span>

          <span data-test-field="Music Format">
            {{this.summary.musicFormat}}
          </span>
        </h3>

        <div
          class={{this.styles.annual-revenue}}
          data-test-field="Annual Revenue"
        >
          {{#if (strict-or CQ.features.tall CQ.features.large)}}
            <span>Annual revenue:</span>
          {{/if}}

          <span class={{this.styles.highlight}}>
            {{this.summary.averageRevenue}}
          </span>
        </div>

        <div
          class={{this.styles.relevant-years}}
          data-test-field="Relevant Years"
        >
          {{#if (strict-or CQ.features.tall CQ.features.large)}}
            <span>Relevant years:</span>
          {{/if}}

          <span class={{this.styles.highlight}}>
            {{this.summary.relevantYears.min}}
            -
            {{this.summary.relevantYears.max}}
          </span>
        </div>
      </div>

      {{#if this.canShowPreviousButton}}
        <button
          aria-label="Previous"
          class={{this.styles.previous-button}}
          data-test-button="Previous"
          type="button"
          {{on "click" (fn this.showNextSummary -1)}}
        >
          {{#if CQ.features.tall}}
            Previous

          {{else}}
            {{svg-jar
              "chevron-left"
              class=(local-class this.styles "icon")
              desc="A chevron arrow pointing left"
              role="img"
            }}

          {{/if}}
        </button>
      {{/if}}

      {{#if this.canShowNextButton}}
        <button
          aria-label="Next"
          class={{this.styles.next-button}}
          data-test-button="Next"
          type="button"
          {{on "click" (fn this.showNextSummary 1)}}
        >
          {{#if CQ.features.tall}}
            Next

          {{else}}
            {{svg-jar
              "chevron-right"
              class=(local-class this.styles "icon")
              desc="A chevron arrow pointing right"
              role="img"
            }}

          {{/if}}
        </button>
      {{/if}}
    {{/if}}
  </div>
</ContainerQuery>