<nav aria-label={{@name}} data-test-nav={{@name}}>
  <ul class={{this.styles.list}}>
    {{#each @menuItems as |menuItem|}}
      <li>
        <LinkTo
          @route={{menuItem.route}}
          data-test-link={{menuItem.label}}
          class={{this.styles.link}}
        >
          {{menuItem.label}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</nav>