<ContainerQuery
  @features={{hash
    small=(width max=200)
    large=(width min=200)
    short=(height max=200)
  }}
  @tagName="article"
  class={{this.styles.container}}
  as |CQ|
>
  <div class={{this.styles.header-container}}>
    <Widgets::Widget-4::Memo::Header
      @cqFeatures={{CQ.features}}
    />
  </div>

  <div class={{this.styles.body-container}}>
    <Widgets::Widget-4::Memo::Body
      @cqFeatures={{CQ.features}}
    />
  </div>

  <div class={{this.styles.actions-container}}>
    <Widgets::Widget-4::Memo::Actions
      @cqFeatures={{CQ.features}}
    />
  </div>
</ContainerQuery>