<form
  aria-describedby={{if
    @instructions
    (concat this.formId "-instructions")
  }}
  aria-labelledby={{if @title (concat this.formId "-title")}}
  class={{this.styles.form}}
  data-test-form={{if @title @title ""}}
  {{on "submit" this.submitForm}}
>
  <Ui::Form::Information
    @formId={{this.formId}}
    @instructions={{@instructions}}
    @title={{@title}}
  />

  <ContainerQuery
    @features={{hash wide=(width min=480)}}
    as |CQ|
  >
    {{yield
      (hash
        Checkbox=(component
          "ui/form/checkbox"
          changeset=this.changeset
          isInline=true
          isWide=CQ.features.wide
          onUpdate=this.updateChangeset
        )
        Input=(component
          "ui/form/input"
          changeset=this.changeset
          isWide=CQ.features.wide
          onUpdate=this.updateChangeset
        )
        Textarea=(component
          "ui/form/textarea"
          changeset=this.changeset
          isWide=CQ.features.wide
          onUpdate=this.updateChangeset
        )
      )
    }}
  </ContainerQuery>

  <div class={{this.styles.actions}}>
    <button
      class={{this.styles.submit-button}}
      data-test-button="Submit"
      type="submit"
    >
      Submit
    </button>
  </div>
</form>