<div
  data-test-memo-actions
  class="{{this.styles.actions}} {{local-class this.styles (if (or @cqFeatures.small @cqFeatures.short) 'minimal-layout')}}"
>
  <button
    aria-label="Comment"
    class={{this.styles.button}}
    type="button"
  >
    {{svg-jar
      "message-processing-outline"
      aria-hidden="true"
      class=(local-class this.styles (array "icon" "icon-comment"))
    }}
  </button>

  <button
    aria-label="Repost"
    class={{this.styles.button}}
    type="button"
  >
    {{svg-jar
      "sync"
      aria-hidden="true"
      class=(local-class this.styles (array "icon" "icon-repost"))
    }}
  </button>

  <button aria-label="Like" class={{this.styles.button}} type="button">
    {{svg-jar
      "heart-outline"
      aria-hidden="true"
      class=(local-class this.styles "icon")
    }}
  </button>

  <button aria-label="Share" class={{this.styles.button}} type="button">
    {{svg-jar
      "share-variant-outline"
      aria-hidden="true"
      class=(local-class this.styles "icon")
    }}
  </button>
</div>