<div
  data-test-memo-actions
  class={{local-class
    this.styles
    "actions"
    (if
      (or @cqFeatures.small @cqFeatures.short) "minimal-layout"
    )
  }}
>
  <button
    aria-label="Comment"
    class={{this.styles.button}}
    type="button"
  >
    {{svg-jar
      "message-processing-outline"
      class=(local-class
        this.styles (array "icon" "icon-comment")
      )
      desc="A speech bubble"
      role="img"
    }}
  </button>

  <button
    aria-label="Repost"
    class={{this.styles.button}}
    type="button"
  >
    {{svg-jar
      "sync"
      class=(local-class
        this.styles (array "icon" "icon-repost")
      )
      desc="Two circular arrows pointing to each other"
      role="img"
    }}
  </button>

  <button
    aria-label="Like"
    class={{this.styles.button}}
    type="button"
  >
    {{svg-jar
      "heart-outline"
      class=this.styles.icon
      desc="A heart"
      role="img"
    }}
  </button>

  <button
    aria-label="Share"
    class={{this.styles.button}}
    type="button"
  >
    {{svg-jar
      "share-variant-outline"
      class=this.styles.icon
      desc="A circular node that branches out to two circular nodes"
      role="img"
    }}
  </button>
</div>