<ul
  data-test-list="Tracks"
  data-css-grid="{{this.numRows}} x {{this.numColumns}}"
  local-class="list"
  {{did-insert this.updateCssForRows}}
  {{did-update this.updateCssForRows @tracks @numColumns}}
>
  {{#each this.tracks as |track index|}}
    <li
      data-test-item
      local-class="item"
    >
      <div>
        {{add index 1}}.
        <span data-test-field="Title">
          {{track.name}}
        </span>
      </div>

      {{#if track.isExplicit}}
        <span
          data-test-field="Explicit"
          aria-label="Explicit"
        >
          {{svg-jar "explicit-24px" local-class="icon-explicit"}}
        </span>
      {{/if}}
    </li>
  {{/each}}
</ul>