<ContainerQuery
  @features={{hash wide=(width min=320)}}
  @tagName="article"
  data-test-product-card
  class={{this.styles.container}}
>
  <header class={{this.styles.header}}>
    <h2 data-test-field="Name" class={{this.styles.name}}>
      {{@product.name}}
    </h2>
  </header>

  <div class={{this.styles.image-container}}>
    <Products::Product::Image @src={{@product.imageUrl}} />
  </div>

  <div class={{this.styles.body}}>
    <p
      data-test-field="Short Description"
      class={{this.styles.description}}
    >
      {{@product.shortDescription}}
    </p>

    <p data-test-field="Price" class={{this.styles.price}}>
      ${{@product.price}}
    </p>
  </div>

  <div class={{this.styles.actions}}>
    <LinkTo
      @model={{@product.id}}
      @route={{@redirectTo}}
      data-test-link="Learn More"
      class={{this.styles.link}}
    >
      Learn more
    </LinkTo>
  </div>
</ContainerQuery>