<section class={{this.styles.container}}>
  <header class={{this.styles.header}}>
    <h2>Widget 3</h2>

    <div class={{this.styles.actions}}>
      <a data-test-link="All tours" href="#">
        All tours
      </a>
    </div>
  </header>

  <div
    class={{this.styles.tour-schedule}}
    data-test-tour-schedule
  >
    <Widgets::Widget-3::TourSchedule
      @concert={{this.concertData}}
    />
  </div>
</section>