{{page-title "Dashboard"}}

<Ui::Page @title="Dashboard">
  <div class={{this.styles.widgets}}>
    <div class={{this.styles.widget-1}} data-test-widget="1">
      <Widgets::Widget-1 />
    </div>

    <div class={{this.styles.widget-2}} data-test-widget="2">
      <Widgets::Widget-2 />
    </div>

    <div class={{this.styles.widget-3}} data-test-widget="3">
      <Widgets::Widget-3 />
    </div>

    <div class={{this.styles.widget-4}} data-test-widget="4">
      <Widgets::Widget-4 />
    </div>

    <div class={{this.styles.widget-5}} data-test-widget="5">
      <Widgets::Widget-5 />
    </div>
  </div>
</Ui::Page>