{{page-title "Page Not Found"}}

<Ui::Page @title="404">
  <p>Feeling lost? Un<em>contained</em>?</p>
  <p>Don't worry. We all have our off days.</p>

  <div class={{this.styles.animation}}>
    <ContainerQuery
      @features={{hash small=(width max=350)}}
      as |CQ|
    >
      <div
        class={{local
          this.styles
          "metaphor"
          (if CQ.features.small "small-layout")
        }}
      >
        <div class={{this.styles.mental-block}}>
        </div>

        <div
          aria-hidden="true"
          class={{this.styles.the-next-idea}}
        >
          ember-<br />container-<br />query
        </div>
      </div>
    </ContainerQuery>
  </div>
</Ui::Page>