{{page-title "Products"}}

<Ui::Page @title="Products">
  <div class={{this.styles.products-with-details}}>
    <div class={{this.styles.list}}>
      {{#each @model as |product|}}
        <Products::Product::Card @product={{product}} />
      {{else}}
        <p>
          No products found.
        </p>
      {{/each}}
    </div>

    <div class={{this.styles.product-details}}>
      {{outlet}}
    </div>
  </div>
</Ui::Page>