{{page-title "Products"}}

<Ui::Page @title="Products">
  <div
    class={{local
      this.styles
      (if
        this.isPartOfNestProductDetailsExperiment
        (array "shared-layout" "products-with-details")
        (array "shared-layout" "products")
      )
      "sticky-container"
    }}
  >
    <div class={{this.styles.filters}}>
      <div class={{this.styles.filter}}>
        <Ui::Form::Input
          @changeset={{hash name=this.name}}
          @key="name"
          @label="Filter by"
          @onUpdate={{this.updateQueryParameters}}
          @placeholder="Cake, pasta, etc."
        />
      </div>
    </div>

    <div class={{this.styles.list}}>
      {{#each this.filteredProducts as |product|}}
        <Products::Product::Card @product={{product}} />
      {{else}}
        <p>
          No products found.
        </p>
      {{/each}}
    </div>

    <div class={{this.styles.product-details}}>
      {{outlet}}
    </div>
  </div>
</Ui::Page>