<ContainerQuery
  @features={{hash small=(width max=400)}}
  @dataAttributePrefix="cq"
  local-class="container"
>
  <div local-class="splash">
    <div local-class="splash-image-container">
      {{#if @concert.images}}
        <Widgets::Widget-3::TourSchedule::ResponsiveImage
          @images={{@concert.images}}
        />

      {{else}}
        <div local-class="placeholder-image"></div>

      {{/if}}
    </div>

    <div local-class="concert-date-container">
      <time local-class="concert-date">
        {{@concert.date}}
      </time>
    </div>

    <div local-class="venue-name-container">
      <a href="#" local-class="concert-link">
        <div local-class="venue-name">{{@concert.name}}</div>
      </a>
    </div>
  </div>
</ContainerQuery>