<div
  class={{local-class
    this.styles
    "container"
    (if @isInline "is-inline")
    (if @isWide "is-wide")
    (unless @errorMessage "no-feedback")
  }}
>
  <div class={{this.styles.label}}>
    {{yield (hash inputId=this.inputId) to="label"}}
  </div>

  <div class={{this.styles.field}}>
    {{yield (hash inputId=this.inputId) to="field"}}
  </div>

  {{#if @errorMessage}}
    <div
      class={{local-class this.styles "feedback" "is-error"}}
    >
      {{svg-jar
        "alert"
        desc="A warning to indicate that the input field has an error"
        role="img"
      }}

      <span
        data-test-feedback
        class={{this.styles.message}}
        role="alert"
      >
        {{@errorMessage}}
      </span>
    </div>
  {{/if}}
</div>