<div
  class="{{this.styles.container}}
    {{local-class this.styles (if @isInline 'is-inline')}}
    {{local-class this.styles (if @isWide 'is-wide')}}
    {{local-class
      this.styles
      (unless @errorMessage 'no-feedback')
    }}
    "
>
  <div class={{this.styles.label}}>
    {{yield (hash inputId=this.inputId) to="label"}}
  </div>

  <div class={{this.styles.field}}>
    {{yield (hash inputId=this.inputId) to="field"}}
  </div>

  {{#if @errorMessage}}
    <div
      class={{local-class this.styles "feedback" "is-error"}}
    >
      {{svg-jar "alert" aria-hidden="true"}}

      <span
        data-test-feedback
        class={{this.styles.message}}
        role="alert"
      >
        {{@errorMessage}}
      </span>
    </div>
  {{/if}}
</div>