<Ui::Form::Field
  @errorMessage={{this.errorMessage}}
  @isWide={{@isWide}}
>
  <:label as |l|>
    <label data-test-label for={{l.inputId}}>
      {{@label}}

      {{#if @isRequired}}
        <span aria-hidden="true">
          *
        </span>
      {{/if}}
    </label>
  </:label>

  <:field as |f|>
    <input
      class={{local
        this.styles
        "input"
        (if (or @isDisabled @isReadOnly) "is-disabled")
      }}
      data-test-field={{@label}}
      disabled={{@isDisabled}}
      id={{f.inputId}}
      max={{@maxValue}}
      min={{@minValue}}
      placeholder={{@placeholder}}
      readonly={{@isReadOnly}}
      required={{@isRequired}}
      step={{if @step @step "any"}}
      type="number"
      value={{this.value}}
      {{on "input" this.updateValue}}
    />
  </:field>
</Ui::Form::Field>