<form
  aria-describedby={{if @instructions (concat this.formId "-instructions")}}
  aria-labelledby={{if @title (concat this.formId "-title")}}
  data-test-form={{or @title ""}}
  local-class="form"
  {{on "submit" this.submitForm}}
>
  <Form::Information
    @formId={{this.formId}}
    @instructions={{@instructions}}
    @title={{@title}}
  />

  <ContainerQuery
    @features={{hash
      wide=(cq-width min=640)
    }}
    as |CQ|
  >
    {{yield
      (hash
        Checkbox=(component "form/checkbox"
          changeset=this.changeset
          isWide=CQ.features.wide
          onUpdate=this.updateChangeset
        )

        Input=(component "form/input"
          changeset=this.changeset
          isWide=CQ.features.wide
          onUpdate=this.updateChangeset
        )

        Textarea=(component "form/textarea"
          changeset=this.changeset
          isWide=CQ.features.wide
          onUpdate=this.updateChangeset
        )
      )
    }}
  </ContainerQuery>

  <div local-class="submit-button-container">
    <button
      data-test-button="Submit"
      local-class="submit-button"
      type="submit"
    >
      Submit
    </button>
  </div>
</form>