<nav
  aria-label={{@name}}
  data-test-nav={{@name}}
>
  <ul local-class="list">
    {{#each @menuItems as |menuItem|}}
      <li local-class="item">
        <LinkTo
          @route={{menuItem.route}}
          data-test-link={{menuItem.label}}
          local-class="link {{if (eq menuItem.route this.rootRoute) "active-route"}}"
        >
          {{menuItem.label}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</nav>